@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-eerie-black font-sans;
}

* {
  --v1: calc(max(11vw, 9vh));
}

.cursor {
  position: absolute;
  width: calc(var(--v1) * 2.5);
  height: calc(var(--v1) * 2.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background: rgba(255, 255, 255);
  opacity: 4%;
  filter: blur(70px);
  -webkit-filter: blur(70px);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: top 0.1s, left 0.1s, opacity 0.1s;
  -webkit-transition: top 0.1s, left 0.1s, opacity 0.1s;
  -moz-transition: top 0.1s, left 0.1s, opacity 0.1s;
  -ms-transition: top 0.1s, left 0.1s, opacity 0.1s;
  -o-transition: top 0.1s, left 0.1s, opacity 0.1s;
}
